body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.readmore {
  color: rgb(223, 135, 53);
}

.header-div {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-between;
  /* margin-left: 5rem; */
}

.header-right {
  /* min-width: 280px; */
  /* max-width: 400px; */
  justify-content: center;
  text-align: center;
  align-items: center;
}

.header__button {
  margin: 1rem;
  font-weight: 500;
  border: none;
  background-color: transparent;
}

.listitem {
  list-style: none;
}

.list:hover {
  background-color: red;
}

.new-fashion {
  /* background-color: #32333590; */
}

.new-fashion-img {
  width: 50%;
}

.fashion-detail {
  text-align: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.new-fashion-img1 {
  width: 100%;
}

.fashion-detail-btn {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.new-fashion-div1 {
  /* clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0); */

  width: 70%;

}

.fashion-detail {
  width: 100%;
  color: white;
}

.fashion-detail1 {
  width: 100%;
  color: rgb(77, 47, 47);
  text-align: center;
}

.new-fashion-div2 {
  width: 30%;
  background-color: #96e43c;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 20% 0%);
}

.listitem1,
.listitem2 {
  text-decoration: none;
  list-style: none;
  align-items: center;
  padding-left: 3rem;
  text-align: center;

  font-weight: 500;
  text-transform: uppercase;
}

.navbar-detail-div {
  margin-top: 2rem;
}

.listitem1:hover {
  color: red;
}

.img-logo {
  width: 4rem;
  object-fit: cover;
  margin-top: 0.5rem;
}

.nav-icon {
  margin-right: 5rem;
  justify-content: space-between;
}

.badge-icon {
  font-size: 2rem;
}

.badge-set {
  right: -50;
  top: 13;
}

.hero-main {
  background-color: orange;
  justify-content: space-around;
}

.hero-main-img {
  width: auto;
  padding: 2rem;
}

.livefor-text {
  /* text-align: center; */
  font-weight: 200;
  font-size: 6.5rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero-page-detail {
  @media only screen and (max-width: 768px) {
    margin-left: 3rem;
    margin-top: -3rem;
    padding-top: 30rem;
  }

}

.fashion-text {
  color: rgb(196, 105, 105);
  /* background-color: red; */
  text-transform: uppercase;
  font-weight: 800;
  font-size: 7.5rem;
  letter-spacing: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.saveupto-text {
  font-size: 2rem;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.shopbtn {
  border: none;
  background-color: black;
  color: #fff;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  font-size: 1rem;
  width: 10vw;
  height: 5vh;
  margin-bottom: 1rem;
  /* margin-left: 20rem; */
}

.img-div {
  width: 50%;
}

.back-img {
  background-image: url("/public/lady3.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  /* background-color: orange; */
  /* padding-left: 0 !important; */
  width: 100% !important;
  object-fit: cover;
  height: 110vh;
}

@media only screen and (max-width: 768px) {
  .back-img {
    margin-bottom: -14rem;
    margin-top: -18rem;
    padding-left: 2rem;
    padding-top: 30rem;
    /* background-color: red; */
  }

}

@media only screen and (max-width: 1024px) {
  .back-img {
    padding-top: 24rem;
    padding-left: 6rem;
    margin-top: -4rem;
  }

}

@media only screen and (max-width: 1440px) {
  .back-img {
    padding-top: 25rem;
    padding-left: 10rem;
  }

}

@media only screen and (max-width: 2560px) {
  .back-img {
    padding-top: 30rem;
    padding-left: 17rem;
  }
}

* {
  padding: 0;
  margin: 0;
}

.header-main {
  background-color: rgb(249, 204, 183);
}

.navBar-main {
  background-color: rgb(241, 235, 232);
}

.FashionProduct {
  display: flex;
}

.main-div-info {
  flex: 1;
}

.info-div {
  flex-direction: column;
}

.outerwear {
  background-image: url("/public/fashion3.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
}

.arrivals {
  background-image: url("/public/fashion4.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
}

.selected-offer {
  background-image: url("/public/fashion5.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
}

.summer-hot {
  background-image: url("/public/fashion6.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
}

.hot-offer {
  background-image: url("/public/fashion7.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
}

.back-img-card1 {
  background-image: url("/public/ladyfashion23.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
  height: 100%;
}

.back-img-card2 {
  background-image: url("/public/ladyfashion24.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
  height: 100%;
}

.back-img-card3 {
  background-image: url("/public/fashion11.webp");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
  height: 100%;
}

.back-img-card4 {
  background-image: url("/public/fashion12.jpeg");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
  height: 100%;
}

.back-img-card5 {
  background-image: url("/public/fashion13.webp");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
  height: 100%;
}

.back-img-card6 {
  background-image: url("/public/fashion14.webp");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
  height: 100%;
}

.back-img-card7 {
  background-image: url("/public/fashion16.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
  height: 100%;
}

.back-img-card8 {
  background-image: url("/public/ladyfashon25.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
  height: 100%;
}

.tshirt-colloction {
  /* background-image: url("/public/menfashion13.jpeg"); */
  /* background-color: rgb(219, 224, 230); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100% !important;
  object-fit: cover;
  /* height: 80vh; */
  background-color: #d0d4dd;
}

.img-section {
  width: auto;
  height: 70vh;
}

.men-fashion-img {
  border: none;
  width: 100%;
}

.deta-detail-heading {
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}

.deta-detail-pera {
  font-weight: 400;
  justify-content: space-around;
  /* text-align: center; */
  margin: 0;
  padding: 0;
}

.design-days-men {
  border: 2px solid pink;
  text-align: center;
  width: 3.3rem;
  height: 3rem;
  flex-direction: column;
  gap: 2rem;
  /* margin-left: 4rem; */
  background-color: green;
}

.seconad-section {
  margin-right: 3rem;
  width: 100%;
}

.heading-section {
  white-space: initial;
  text-overflow: ellipsis;
  width: 90%;
}

.pera-section {
  width: 100%;
  margin-top: 0.5rem;
}

.latest-blog-img {
  width: 100%;
  height: auto;
}

.latest-blog-img2 {
  width: 26.5rem;
}

.hot-product-card2 {
  /* width: 15rem; */
  border: none;
  padding: 0rem;
}

.hot-product-card1 {
  width: 15rem;
  border: none;
  min-width: 280px;
  /* max-width: 1200px; */
  margin: 3rem;
  margin-top: 3.5rem;
  /* gap: 2rem; */
  padding: 0rem;
  /* gap: 6rem; */
}

.latest-blog-pera {
  font-weight: 400;
  color: red;
}

.latest-blog-heading {
  font-weight: 600;
}

.latest-blog-pera2 {
  font-weight: 400;
  color: rgba(176, 174, 170, 0.837);
}

.read-more-button {
  width: auto;
  border: 1px solid black;
  text-align: center;
  font-weight: 400;
}

.read-more-button:hover {
  background-color: blueviolet;
}

.hot-ptoduct-item {
  text-align: center;
}

.all-div-margn {
  margin-top: 1rem;
}

.dress-name {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.main-cards-detail {
  flex-wrap: wrap;
}

.children-div {
  padding: 2rem 2rem;
  min-width: 280px;
  width: auto;
  /* background-color: cadetblue; */
}

header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.cicon-navbar {
  font-size: 2rem;
}

@media only screen and (max-width: 31.25em) {
  .header {
    flex-wrap: wrap;
    height: 12rem;
    align-content: space-around;
  }
}

.logo {
  height: 5.25rem;
  margin-left: 2rem;
}

.cards-body {
  /* min-width: 280px; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: auto;
  /* height: 10rem; */
  /* flex-wrap: wrap; */
}

.list-hot-product {
  list-style: none;
}

.main-all-div {
  gap: 2rem;
}

.hot-product-card {
  /* width: 15rem; */
  border: none;
  box-shadow: 7px 9px 10px 0 rgb(238, 209, 209);
  height: 20rem;
  min-width: 180px;
  /* max-width: 1800px; */
  margin: 3rem;
  margin-top: 3.5rem;
  /* gap: 2rem; */
  padding: 0rem;
  /* gap: 6rem; */
}

.child-div-para {
  flex-direction: column;
  gap: 2rem;
}